body {
	font-family: 'Noto Sans KR', sans-serif;
	background: #f2f4f7;
	color: #1f2937;
	margin: 0;
	padding: 0;
	overflow: auto;               /* 스크롤은 가능하게 */
	-ms-overflow-style: none;     /* IE, Edge */
}

body::-webkit-scrollbar {
	display: none;                /* Chrome, Safari */
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: rgba(229, 231, 235, 0.9);
	padding: 1rem;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

label {
	margin-left: 14px;
	font-weight: bold;
	font-size: small;
}

.controls {
	left: -14px;
	display: flex;
	flex-wrap: wrap;
	gap: 0.15rem;
	align-items: center;
	position: relative;
}

input[type="text"],
input[type="number"] {
	padding: 0.25rem;
	border: 1px solid #d1d5db;
	border-radius: 0.375rem;
	font-size: 0.8rem;
}

input:not(:placeholder-shown) {
	background: teal;
	color: white;
}

#searchInput {
	width: 10%;
}

#tierReset {
	color: crimson;
	cursor: pointer;
}

#tierMin, #tierMax {
	width: 5%;
}

button {
	border: 1px solid #ccc;
	border-radius: 0.375rem;
	background-color: white;
	font-size: 0.8rem;
	padding-bottom: 1px;
}

#getRandom:active,
.showToc #toggleToc,
.showDuple #toggleDuple,
.showSolution #toggleSolution,
.showMainTag #toggleMainTag,
.showSubTag #toggleSubTag {
	background: #999;
	color: white
}
#toc {
	display: none;
}

.showToc #toc {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}

#deck {
	padding: 1rem;
}

.card {
	background: white;
	border-radius: 0.5rem;
	/* border: solid 1px lightgray; */
	padding: 0.8rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: small;
}

.card.dup {
	background: gainsboro;
}

.card.random,
.card.create {
	background: ivory;
}

.card.more,
.card.create {
	justify-content: center;
	align-items: center;
	min-height: 50px;
	cursor: zoom-in;
	color: #ccc;
	font-size: medium;
	font-weight: bold;
}

.card span {
	margin-right: 4px;
}

.random .summary::before,
.tier {
	font-weight: bold;
	font-size: smaller; 
	font-style: italic;
	padding: 1px 4px 2px 2px;
}

.summary {
	text-decoration: none;
	color: black;
}

.random .summary::before {
	content: "Random";
	color: orangered;
	padding: 1px 8px 2px 2px;
}

.summary:hover {
	text-decoration: underline;
	color: cornflowerblue;
}

.tagbox {
	text-align: right;
	font-size: smaller;
	font-style: italic;
}

.editCard, .solved {
	cursor: pointer;
}

.tag {
	padding: 1px 4px 2px 2px;
	cursor: default;
}

.tag:hover {
	color: cornflowerblue;
}

.main-tag {
	color: lightsalmon;
}

.sub-tag {
	color: #ccc;
}

.tag-button {
	font-size: 0.7rem;
}

.tag-button.include {
	background: teal;
	color: white;
}

.tag-button.exclude {
	background: crimson;
	color: white;
}

.group-button {
	font-weight: bold;
	background: floralwhite;
}

.브론즈	{ color: brown; }
.실버	{ color: gray; }
.골드	{ color: goldenrod; }
.플래	{ color: mediumaquamarine; }
.다이아	{ color: blue; }
.루비	{ color: red; }

hr {
	margin: 0.75rem 0;
	border: 1px solid #eee;
}

.editContent,
.editSolution {
    background: transparent;
    border: 1px solid;
    resize: none;
    overflow: hidden; /*스크롤*/
    width: 100%;
    font-size: inherit;
    box-sizing: border-box;
	font-family: inherit;     /* 부모 요소의 글꼴을 상속 */
	line-height: inherit;
}


/* display 관리 */

#deck 						{ display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 1rem; }

.card						{ display: none; }
.card.draw					{ display: flex; flex-direction: column; }
.card.random				{ display: flex; flex-direction: column; grid-row: 1; }
.card.more					{ display: flex; }
.card.create				{ display: flex; grid-row: 1; grid-column: 1;}

.card > *					{ display: none; }
.NORMAL			.content	{ display: block; }
.showSolution	.solution	{ display: block; }
.card:hover		.tagbox		{ display: block; margin-top: auto; } 
.showMainTag	.tagbox		{ display: block; margin-top: auto; } 
.showSubTag		.tagbox		{ display: block; margin-top: auto; } 

.content > *				{ display: none; }
.showTier		.tier		{ display: inline; }
.random			.tier		{ display: none; }
.edit			.tier		{ display: none; }
.NORMAL			.summary	{ display: inline; }
.edit			.summary	{ display: none; }
.edit			.editContent{ display: inline; }

.solution > *				{ display: none; }
.NORMAL			hr			{ display: block; }
.NORMAL			.code		{ display: block; }
.edit			.code		{ display: none; }
.edit			.editSolution{ display: inline; }

.tagbox > *					{ display: none; }
.showMainTag	.main-tag	{ display: inline-block; }
.showSubTag		.sub-tag	{ display: inline-block; }
.card:hover		.editCard	{ display: inline; }
.card:hover		.solved		{ display: inline; }